{% extends 'layout.html' %}

{% block body %}
  <style>
    body {
      height: 120vh !important;
    }
  </style>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
<!--     <select name="wifi">
    {% for option in options %}
    <option value="option.">{{ option.ssid }}</option>
  {% endfor %}
  </select> -->
    <button class="waves-effect waves-light btn" type="submit">Apply</button>
  </form>
{% endblock %}
