{% extends 'layout.html' %}

{% block body %}
  <style>
    body {
      height: 120vh !important;
    }
  </style>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="input-field">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="input-field col s12">
      <select name="wifi" class="browser-default">
        <option value="" disable selected> Choose Your Phone Network</option>
        {% for option in options %}
        <option value="{{option}}">{{ option }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-field">
      <button type="submit" class="waves-effect waves-light btn">Sign up</button>
    </div>
  </form>
{% endblock %}
